/* reader mode */
body.dark {
  --bg-90tran: color-mix(in srgb, var(--bg-color) 90%, transparent);
  --pr-90tran: color-mix(in srgb, var(--pr-color) 90%, transparent);

  --main-background: var(--bg-color) !important;
  --main-foreground: var(--fg-color) !important;
  --link-foreground: rgb(102, 162, 209) !important;
}

@-moz-document url-prefix("https://yt.uima.xyz/") {
  body.dark-theme {
    background-color: rgba(22, 22, 22, 1) !important;
    color: #dcdcdc !important;
  }
}
