
@-moz-document domain(duckduckgo.com){
    html {
        background: var(--bg-color) !important;
    }

    #header_wrapper{
        background: var(--bg-color) !important;
        box-shadow: none !important;
    }
    #web_content_wrapper{
        background: var(--bg-color) !important;
    }
    .footer {
        background: var(--bg-color) !important;
        border-top: none !important;
    }
}
