@-moz-document domain(github.com) {
  :root {
    --fgColor-default: var(--base05) !important;
    --fgColor-muted: var(--base03) !important;
    --fgColor-neutral: var(--base04) !important;

    --bgColor-default: transparent !important;
    --bgColor-muted: color-mix(in srgb, var(--base00), var(--base01) 65%) !important;
    --bgColor-inset: transparent !important;

    --borderColor-default: var(--base02) !important;
    --borderColor-muted: var(--base02) !important;
    --borderColor-neutral-muted: var(--base02) !important;
    --borderColor-accent-emphasis: var(--base06) !important;

    --button-default-fgColor-rest: var(--base05) !important;
    --button-default-bgColor-rest: var(--base01) !important;
    --button-default-bgColor-hover: color-mix(in srgb, var(--base00), var(--base01) 75%) !important;
    --button-default-bgColor-active: color-mix(in srgb, var(--base00), var(--base01) 80%) !important;
    --button-default-bgColor-selected: color-mix(in srgb, var(--base00), var(--base01) 80%) !important;
    --button-default-bgColor-disabled: var(--base01) !important;
    --button-default-borderColor-rest: var(--base02) !important;
    --button-default-borderColor-hover: var(--base02) !important;
    --button-default-borderColor-active: var(--base02) !important;
    --button-default-borderColor-disabled: var(--base01) !important;

    --buttonCounter-default-bgColor-rest: var(--base02) !important;

    --control-borderColor-rest: var(--base01) !important;
    --control-transparent-bgColor-hover: color-mix(in srgb, var(--base00), var(--base01) 75%) !important;
    --control-transparent-bgColor-active: color-mix(in srgb, var(--base00), var(--base01) 80%) !important;

    --tooltip-bgColor: var(--base02) !important;
    --tooltip-fgColor: var(--base06) !important;

    --focus-outlineColor: var(--base06) !important;
    --focus-outline: 2px solid var(--focus-outlineColor) !important;

    --overlay-bgColor: color-mix(in srgb, var(--base00), var(--base01) 50%) !important;
    --overlay-backdrop-bgColor: color-mix(in srgb, var(--base00) 70%, transparent) !important;;
  }

  div.search-suggestions {
    background-color: var(--base00) !important;
  }

  /* in pr/issue page, because the comment's background is transparent, the timeline will overlay on comment */
  .TimelineItem::before {
    display: none !important;
  }

  /* fix transparent sticky header */
  .gh-header-shadow {
    background: var(--base00) !important;
  }
}
