@-moz-document domain(home.uimataso.com){
    :root {
      --color-background: transparent !important;
      --color-widget-background: var(--base00-trans) !important;
      --color-widget-content-border: var(--base01) !important;
      --color-text-base: var(--base04) !important;
      --color-text-highlight: var(--base05) !important;
      --color-text-base-muted: var(--base03) !important;
      --color-text-subdue: var(--base03) !important;
    }
}
