
@-moz-document domain(youtube.com){
    html {
        background: var(--bg-color) !important;
    }

    ytd-reel-shelf-renderer,
    yt-related-chip-cloud-renderer,
    #player-ads,
    #masthead-ad {
        visibility: collapse !important;
        display: none !important;
    }

    /* make element on video semiopacity */
    .ytp-ce-element.ytp-ce-element-show {
        opacity: 0.6;
    }
}

@-moz-document url("https://www.youtube.com/feed/subscriptions"),
@-moz-document url("https://www.youtube.com/") {
    ytd-rich-section-renderer {
        visibility: collapse !important;
        display: none !important;
    }
}
