@import "colors.css";

@import "content/newtab_background.css";
/* @import "content/dark_settings_pages.css"; */

@import "content/youtube.css";
@import "content/hacker_news.css";
/* @import "content/duckduckgo.css"; */
/* @import "content/github.css"; */
/* @import "content/arch.css"; */
/* @import "content/rust_book.css"; */
/* @import "content/biligame.css"; */

/* reader mode */
body.dark {
  --main-background: var(--bg-color) !important;
  --main-foreground: var(--fg-color) !important;
  --link-foreground: rgb(102, 162, 209) !important;
}

@-moz-document url-prefix("https://yt.uima.xyz/") {
  body.dark-theme {
    background-color: rgba(22, 22, 22, 1) !important;
    color: #dcdcdc !important;
  }
}
