@-moz-document domain(news.ycombinator.com){
    html {
        background: var(--bg-color) !important;
    }

    #hnmain {
        color: var(--fg-color) !important;
        background: var(--bg-color) !important;
        max-width: 796px !important;
    }
}
